@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vuetify/styles";

:root {
  --primary-color: #0549ff;
  --secondary-color: #000;
  --red-color: red;
  --gold-color: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
